# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env
.env.*

# VS Code
.vscode/

# JetBrains
.idea/

# Python Cache
.pytest_cache/
.mypy_cache/

# Coverage
.coverage
htmlcov/

# Logs
*.log

# OS
Thumbs.db
.DS_Store

# Build
build/
dist/
*.egg-info/

# ML
mlruns/

# Database
*.db
*.sqlite3

# Temporary
.cache/